.jqcmd {
	font-family: "Lucida Console";
	overflow: auto;
	min-height: 300px;
	min-width: 500px;
	position: relative;
	margin: 0;
}
.jqcmd p {
	white-space: pre;
	min-width: 1em;
	min-height: 1em;
}
.jqcmd_menu {
	font-family: Arial,Helvetica,sans-serif;
	opacity: 0.3;
	background: rgba(255,255,255,0.8);
	position: absolute;
	z-index: 100;
	padding: 5px 5px 10px 10px;
	right: 0;
	top: 10px;
	border: 2px solid rgba(100, 100, 100, 0.3);
	border-top: 0;
	border-right: 0;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	-webkit-border-bottom-top-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
}
.jqcmd_menu ul {
	margin: 0;
	padding: 0;
}
.jqcmd_menu ul li a {
	color: #F00;
	text-decoration: none;
	font-weight: bold;
}
.jqcmd_menu ul li {
	list-style: none;
	display: inline-block;
}
.jqcmd_menu:hover {
	opacity: 1;
}
.jqcmd.black {
	background: #000;
	color: #FFF;	
}

.jqcmd.white {
	background: #FFF;
	color: #000;
}

.jqcmd:focus {
	outline: none;
}

.jqcmd #pointer, .jqcmd .selected, .jqcmd #viPointer, .blinker {
	display: inline-block;
	background: #FFF;
	height: 1em;
	width: 10px;
	vertical-align: top;
}

.jqcmd .output ul li, .output ul {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 3px;
}

.jqcmd .padleft { 
	padding-left: 10px;
	width: 100px;
	display: inline-block;
}


/* Blinker animation */

.jqcmd #pointer, .jqcmd .selected, .jqcmd #viPointer, .blinker {
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-timing-function: ease;   
}

@-webkit-keyframes 'blink' {
    0% { background: #FFF; }
    50% { background: #000; }
}
.jqcmd .before, .jqcmd .after, .jqcmd .selected {
	display: inline-block;
	white-space: pre;
}

.jqcmd .output ul li, .output ul {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 3px;
}

.jqcmd .padleft { 
	padding-left: 10px;
	width: 100px;
	display: inline-block;
}
.jqcmd .ls_list {
	display: inline-block;
	margin-right: 20px;
}

/* VI DISPLAY */
#bottomBar {
	position: fixed;
	bottom: 0;
	height: 1em;
	width: 100%;
	padding: 1em 0 1em 0;
	background: #000;
	margin: 0;
}
#bottomBar li {
	list-style: none;
	display: inline-block;
}
#bottomBar li:not(:last-child):not(:first-child) {
	float: right;
	margin-right: 250px;
}
#bottomBar li:last-child {
	right: 10px;
	position: absolute;
}
#viWindow {
	position: fixed;
	bottom: 2em;
	top: 0;
	right: 0;
	left: 0;
	word-wrap: break-word;
}
#viWindow .empty {
	margin: 5px 0;
}
#viWindow .current_line {
	margin: 0;
}
#bottomBar #viInput .inputError {
	background: #F00;
}
